.homeBody {
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    margin-top: 10px;
}
.searchBar {
    min-width: 90% !important;
}

.destaquesH1 {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center !important;
    width: 100%;
    margin-top: 10px;
    align-content: center;
}

.products {
    height: fit-content;
    border-radius: 25px;
    border-style: solid;
    border-width: 0.5px;
    text-align:center;
}
.vendedores {
    margin-top: 10px;
    height: fit-content;
    border-radius: 25px;
    border-style: solid;
    border-width: 0.5px;
    text-align:center;
}
.carousel {
    display: block;
    min-width: 40%;
    max-width: 90%;
    align-items: center;
    justify-content: center;
}
.carousel .items {
    margin-top: 2%;
    display: flex !important;
    justify-content: center !important;
    align-content: center;
}
.carousel .items .itemImage{
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%;
    border-style: solid;
}

.carousel .items .itemCard {
    background-color: inherit;
    text-align:center;
}

.carousel .items .itemCard h2{
    color: black;
}

.menu {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ant-drawer-content-wrapper {
    padding: 0px;
    max-width: max-content;
}
.ant-drawer-body {
    padding: 0px !important;
}